* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: url('./Imagen/SociosLogin.jpg');
  background-size: cover;/*CENTRA LA IMAGEN*/

}

.form-register {
  width: 450px;
  background: #061524;
  padding: 30px;
  margin: auto;
  margin-top: 220px;
  border-radius: 10px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  width: 100%;
  background: #061524;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

input[type="submit"]{
  width:100%;
  height:30px;
  border:1px solid;
  background:#081f2e;
  border-radius:8px;
  font-size:18px;
  font-family:calibri ;
  color: white;
  cursor: pointer;
  outline: none;
}

input[type="button"]{
  width:100%;
  height:30px;
  border:1px solid;
  background:#081f2e;
  border-radius:8px;
  font-size:18px;
  font-family:calibri ;
  color: white;
  cursor: pointer;
  outline: none;
}

