<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrar Datos del Socio</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="icon" th:href="@{/Imagen/Logo.png}" />
    <style>
        body {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        input, select, textarea {
         background-color: white; color: black ;
         }

        /* Animación sutil para hover de botón */
        .btn-primary {
          transition: all 0.3s ease;
        }

        input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active
         { -webkit-box-shadow: 0 0 0px 1000px white inset !important; -webkit-text-fill-color: black !important; }

        input::-ms-reveal, input::-ms-clear { display: none; }
        /* Safari y otros navegadores basados en WebKit */
        input[type="password"]::-webkit-textfield-decoration-container
        { display: none; }
    </style>
</head>
<body class="bg-cover bg-center bg-no-repeat min-h-screen flex flex-col text-white"
      style="background-image: url('/Imagen/Portada.jpg');">



<div id="webcrumbs" class="bg-transparent text-white min-h-screen flex flex-col">
    <div th:replace="Orden/Head :: common-header"></div>

    <div class="flex-grow flex items-center justify-center py-10 px-4">
        <div class="bg-white text-gray-800 rounded-2xl shadow-2xl p-6 max-w-2xl w-full border-t-4 border-green-700">


            <div class="flex items-center justify-center mb-6">
                <img src="/Imagen/Logo.png" alt="Logo" class="w-14 h-14 rounded-full border-2 border-green-700 mr-3">
                <h1 class="text-2xl font-extrabold text-green-700 tracking-tight">Mega Feria de la Católica</h1>
            </div>


            <div class="text-center mb-6">
                <h2 class="text-2xl font-extrabold text-gray-900 tracking-wide relative inline-block">
                    Registrar Socio
                    <span class="block w-16 h-1 bg-green-700 mx-auto mt-2 rounded-full"></span>
                </h2>

            </div>
            <form class="space-y-5" th:action="@{/socios/guardarsocio}" method="post">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                    <div class="relative">
                        <label class="text-sm text-gray-600 mb-1 block">Número carnet</label>
                        <input class="w-full px-4 py-2.5 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-700"
                               type="text" name="numero_carnet" id="numero_carnet" required pattern="^CARNET-[0-9]+$" title="El formato debe ser CARNET- seguido de uno o más dígitos. Ejemplo: CARNET-1 o CARNET-12345"
                               placeholder="Ejemplo: CARNET-001"
                        />

                        <span class="absolute right-3 top-9 text-gray-400 material-symbols-outlined">lock</span>
                    </div>
                    <div class="relative">
                        <label class="text-sm text-gray-600 mb-1 block">Nombre</label>
                        <input class="w-full px-4 py-2.5 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-700"
                               type="text" name="nombresocio" required/>
                        <span class="absolute right-3 top-9 text-gray-400 material-symbols-outlined">account_circle</span>
                    </div>
                    <div class="relative">
                        <label class="text-sm text-gray-600 mb-1 block">Apellido Paterno</label>
                        <input class="w-full px-4 py-2.5 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-700"
                               type="text" name="apellidopaternosocio" required/>
                        <span class="absolute right-3 top-9 text-gray-400 material-symbols-outlined">mail</span>
                    </div>
                    <div class="relative">
                        <label class="text-sm text-gray-600 mb-1 block">Apellido Materno</label>
                        <input class="w-full px-4 py-2.5 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-700"
                               type="text" name="apellidomaternosocio"/>
                        <span class="absolute right-3 top-9 text-gray-400 material-symbols-outlined">mail</span>
                    </div>
                    <div class="relative">
                        <label class="text-sm text-gray-600 mb-1 block">direccion</label>
                        <input class="w-full px-4 py-2.5 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-700"
                               type="text" name="direccion" required/>
                        <span class="absolute right-3 top-9 text-gray-400 material-symbols-outlined">lock</span>
                    </div>
                    <div class="relative">
                        <label class="text-sm text-gray-600 mb-1 block">distrito</label>
                        <input class="w-full px-4 py-2.5 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-700"
                               type="text" name="distrito" required/>
                        <span class="absolute right-3 top-9 text-gray-400 material-symbols-outlined">lock</span>
                    </div>

                    <div class="relative">
                        <label class="text-sm text-gray-600 mb-1 block">estado civil</label>
                        <input class="w-full px-4 py-2.5 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-700"
                               type="text" name="estadocivil"/>
                        <span class="absolute right-3 top-9 text-gray-400 material-symbols-outlined">lock</span>
                    </div>
                    <div class="relative">
                        <label class="text-sm text-gray-600 mb-1 block">dni</label>
                        <input class="w-full px-4 py-2.5 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-700"
                               type="text" name="dni" required/>
                        <span class="absolute right-3 top-9 text-gray-400 material-symbols-outlined">lock</span>
                    </div>
                    <!--<input type="hidden" name="dni" th:value="${socio.dni}"/>-->
                    <div class="relative">
                        <label class="text-sm text-gray-600 mb-1 block">correo</label>
                        <input class="w-full px-4 py-2.5 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-700"
                               type="email" name="correo" />
                        <span class="absolute right-3 top-9 text-gray-400 material-symbols-outlined">lock</span>
                    </div>
                    <div class="relative">
                        <label class="text-sm text-gray-600 mb-1 block">télefono</label>
                        <input class="w-full px-4 py-2.5 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-700"
                               type="tel" name="telefono" pattern="[0-9]{7,12}" maxlength="12" title="Solo se permiten números (6 a 12 dígitos)" required/>
                        <span class="absolute right-3 top-9 text-gray-400 material-symbols-outlined">lock</span>
                    </div>

                    <div class="relative">
                        <label class="text-sm text-gray-600 mb-1 block">contraseña</label>
                        <input id="contrasena" class="w-full px-4 py-2.5 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-700"
                               type="password" name="contrasena" required/>
                        <!--<span class="absolute right-3 top-9 text-gray-400 material-symbols-outlined">lock</span>-->
                        <span id="togglePassword"
                              class="absolute right-4 top-1/2 text-gray-500 cursor-pointer material-symbols-outlined select-none">
                               visibility_off
                         </span>
                    </div>
                    <!--
                    <div class="relative">
                        <label class="text-sm text-gray-600 mb-1 block">Estado</label>
                        <select class="w-full px-4 py-2.5 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-red-600"
                                name="estado" required>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                        <span class="absolute right-3 top-9 text-gray-400 material-symbols-outlined">lock</span>
                    </div>
                    -->

                    <div class="relative">
                        <label class="text-sm text-gray-600 mb-1 block">Tipo</label>
                        <select class="w-full px-4 py-2.5 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-700"
                                name="tipo" required>
                            <option value="Interno">Socio</option>
                            <option value="Externo">No es Socio</option>
                        </select>
                        <span class="absolute right-3 top-9 text-gray-400 material-symbols-outlined">lock</span>
                    </div>

                    <!--
                    <div class="pt-2 flex justify-center">

                        <button type="submit"
                                class="w-full max-w-xs bg-green-700 hover:bg-green-700 text-white font-semibold py-3 rounded-lg shadow-md transition-colors duration-300">
                            Registrar
                        </button>
                    </div>-->
                </div>
                <div class="pt-4">
                    <button type="submit"
                            class="w-full bg-green-700 hover:bg-green-800 text-white font-semibold py-3 rounded-lg shadow-md transition-colors duration-300">
                        Registrar
                    </button>
                </div>



            </form>
        </div>

    </div>
</div>
<div th:replace="Orden/Footer :: common-footer"></div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    const togglePassword = document.getElementById('togglePassword');
  const passwordInput = document.getElementById('contrasena');

  togglePassword.addEventListener('click', () => {
    const isPassword = passwordInput.type === 'password';
    passwordInput.type = isPassword ? 'text' : 'password';
    togglePassword.textContent = isPassword ? 'visibility' : 'visibility_off';
  });

</script>
<script th:inline="javascript">
    /*<![CDATA[*/
        // Obtener los mensajes (pueden venir del model o como flash attributes)
        let mensajeError = /*[[${mensajeError}]]*/ null;
        let mensajeExito = /*[[${Exito}]]*/ null;

        // Mostrar mensaje de error si existe
        if (mensajeError !== null && mensajeError !== undefined) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: mensajeError,
                confirmButtonColor: '#dc2626',
                background: '#fef9ff'
            });
        }

        // Mostrar mensaje de éxito si existe
        if (mensajeExito !== null && mensajeExito !== undefined) {
            Swal.fire({
                icon: 'success',
                title: '¡Éxito!',
                text: mensajeExito,
                confirmButtonColor: '#7e22ce',
                background: '#fef9ff'
            });
        }
    /*]]>*/
</script>
<script>
    <script>
  const telefonoInput = document.getElementById('telefono');

  telefonoInput.addEventListener('input', () => {
    // Eliminar todo lo que no sea número
    telefonoInput.value = telefonoInput.value.replace(/\D/g, '');

    // Si tiene más de 12 dígitos, cortar
    if (telefonoInput.value.length > 12) {
      telefonoInput.value = telefonoInput.value.slice(0, 12);
    }
  });
</script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const menuButton = document.getElementById("menuBtn");
        const mobileMenu = document.getElementById("mobileMenu");

        if (menuButton && mobileMenu) {
            menuButton.addEventListener("click", () => {
                mobileMenu.classList.toggle("hidden");
            });
        }
    });
</script>
</body>
</html>
